<script setup lang="ts">

import router from '@/router';

function goToReviewReport() {
  router.push('/Review');
}
</script>
<template>

  <div class="dialog-container application">
    <v-card class="dialog-box">
      <h2 style="color: #000000;">Confirm Report</h2>
      <v-row class="mt-4">
        <v-col>
          <v-btn @click="goToReviewReport()" class="cancel-btn">Cancel</v-btn>
        </v-col>
        <v-col>
          <v-btn @click="goToReviewReport()" class="confirm-btn">Confirm</v-btn></v-col>
      </v-row>
  </v-card>
  </div>

</template>

<style scoped>
.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-box {
  background-color: #FF6F6F;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #D22626;
  color: white;
}

.confirm-btn {
  background-color: #2F7BEE;
  color: white;
}


.application {
  font-family: 'Kanit', sans-serif;
}
</style>