<script setup lang="ts">
import MainHeader from '@/components/Header/MainHeader.vue'
import router from '@/router'
import { useBooksStore } from '@/stores/books'
import { usefavlistStore } from '@/stores/favlist'
import { onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'

const favListStore = usefavlistStore()
const bookstore = useBooksStore()
const route = useRoute()

const favoStore = usefavlistStore()
const user = localStorage.getItem('user')
const json = JSON.parse(user!)
console.log(json)

onMounted(async () => {
  const userId = json.user_id
  await favoStore.getFavlistByUserId(userId)
  console.log(userId)
})

const goToReviewPage = (bookId: number) => {
  router.push({ name: 'review', params: { id: bookId } })
  console.log(bookId)
}
</script>

<template>
  <MainHeader />
  <v-layout>
    <v-card style="width: 1980px; height: 745px" color="#121212">
      <v-main>
        <v-container fluid>
          <v-row>
            <v-card style="width: 1980px; height: 80px" color="#000000">
              <v-card-title class="text-center justify-center py-6">
                <h1 style="color: #3b85dd; margin-top: 8px">Favorite List</h1>
              </v-card-title>
            </v-card>
          </v-row>

          <!-- ส่วนแสดง Myfavorite Books -->
          <v-row>
            <v-col v-for="book in favoStore.bookByUser" :key="book.book_id" cols="2">
              <v-card style="width: 200px; height: 400px; margin: 2%" color="#363535">
                <v-row class="justify-center" style="margin: 5%">
                  <v-btn flat style="width: 175px; height: 260px" @click="goToReviewPage(book.book_id)">
                    <img
                      :src="`http://localhost:3000/books/${book.book_id}/image`"
                      alt="book image"
                      width="175"
                      height="260"
                    />
                  </v-btn>
                </v-row>
                <v-row>
                  <v-card-text
                    style="margin-left: 5%; padding-top: 2px; font-size: 18px; font-weight: bold"
                  >{{ book.book_score }}</v-card-text>
                  <v-btn
                    style="
                      width: 75px;
                      height: 35px;
                      font-weight: bold;
                      margin-right: 12%;
                      background-color: #2f7bee;
                      color: #ffffff;
                      border-radius: 10px;
                    "
                    @click="goToReviewPage(book.book_id)"
                  >
                    Review
                  </v-btn>
                </v-row>
                <v-row>
                  <v-card-text
                    style="text-align: left; padding-top: 1%; font-size: 18px; font-weight: bold"
                  >
                    {{ book.book_title }}
                  </v-card-text>
                </v-row>
                <v-row>
                  <v-card-text style="text-align: left; padding-top: 1px; font-size: 15px"
                  >Authors:{{ book.book_content }}</v-card-text>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-main>
    </v-card>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}
</style>