<script setup lang="ts">
import MainHeader from '@/components/Header/MainHeader.vue'
import MainHeaderSignIn from '@/components/Header/MainHeaderSignIn.vue'
import FrameworkBooks from '@/components/FrameworkBooks.vue'
import { onMounted, ref, watch, computed } from 'vue'
import { useBooksStore } from '@/stores/books'
import { useAuthStore } from '@/stores/auth'
import router from '@/router'

const selectedCategory = ref(null)
const drawer = ref(false)
const group = ref<string | null>(null)

// Pagination state
const currentPage = ref(1)
const itemsPerPage = 5

const authStore = useAuthStore()
const bookStore = useBooksStore()

// Watch for group changes to close the drawer
watch(group, () => {
  drawer.value = false
})

// Fetch all books on mount
onMounted(async () => {
  try {
    await bookStore.getBooksAll()
  } catch (error) {
    console.error('Error fetching books:', error)
  }
})

// Handle category selection
const handleCategorySelected = async (category: any) => {
  selectedCategory.value = category
  if (category) {
    try {
      await bookStore.getBooksByCategory(category.category_id)
    } catch (error) {
      console.error("Error fetching books by category:", error)
    }
  }
}

// Navigate to review page
const goToReviewPage = (item: any) => {
  bookStore.ListBook = item
  router.push({ name: 'review', params: { id: item.book_id } })
}

// Computed property for paginated books
const paginatedBooks = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage
  const end = start + itemsPerPage
  return filteredBooks.value.slice(start, end)
})

// Computed property for total pages
const totalPages = computed(() => Math.ceil(filteredBooks.value.length / itemsPerPage))

// Method to change page
const changePage = (page: number) => {
  currentPage.value = page
}

// Search functionality
const searchQuery = ref('')
const filteredBooks = computed(() => {
  if (searchQuery.value) {
    return bookStore.booksAllAll.filter(book => 
      book.book_title.toLowerCase().includes(searchQuery.value.toLowerCase())
    )
  }
  return bookStore.booksAllAll
})

const handleSearchBooks = (query: string) => {
  searchQuery.value = query
  currentPage.value = 1
}
</script>

<template>
  <MainHeader v-if="authStore.isLogin" @categorySelected="handleCategorySelected" @searchBooks="handleSearchBooks" />
  <MainHeaderSignIn v-else @categorySelected="handleCategorySelected" @logout="authStore.logout" @searchBooks="handleSearchBooks" />

  <v-container fluid style="background-color: #121212; height: 100%; width: 100%">
    <v-card v-if="!searchQuery" style="width: 100%; height: 70px" color="#000000">
      <v-card-text style="font-size: 35px; margin-left: 2%; font-family: tahoma; color: #3b85dd; font-weight: bold;">
        Topic Top 10
      </v-card-text>
    </v-card>

    <v-container v-if="!searchQuery" fluid style="background-color: #121212; height: 100%; width: 100%">
      <v-row>
        <FrameworkBooks />
      </v-row>

      <v-row>
        <v-card-text style="font-size: 35px; margin-left: 2%; font-family: tahoma; color: #3b85dd; font-weight: bold;">
          Book All
        </v-card-text>
      </v-row>
    </v-container>

    <v-container fluid style="background-color: #121212; height: 100%; width: 100%">
      <v-row>
        <v-card v-for="item in paginatedBooks" 
          :key="item.book_id"
          style="width: 210px; height: 420px; margin-top: 2%; margin-left: 5%"
          color="#363535"
          >
          <v-row class="justify-center" style="margin: 5%">
            <v-btn flat style="width: 180px; height: 260px" @click="goToReviewPage(item)">
              <v-img :src="`http://localhost:3000/books/${item.book_id}/image`" style="height: 260px; width: 180px" />
            </v-btn>
          </v-row>

          <v-row>
            <v-card-text style="margin-left: 5%; padding-top: 2px; font-size: 18px; font-weight: bold;">
              {{ item.book_score }}
            </v-card-text>
            <v-btn
              style="width: 75px; height: 35px; font-weight: bold; margin-right: 12%; background-color: #2f7bee; color: #ffffff; border-radius: 10px;"
              @click="goToReviewPage(item)">
              Review
            </v-btn>
          </v-row>

          <v-row>
            <v-card-text style="text-align: left; padding-top: 1%; font-size: 18px; font-weight: bold;">
              {{ item.book_title }}
            </v-card-text>
          </v-row>

          <v-row>
            <v-card-text style="text-align: left; padding-top: 0.1%; font-size: 15px;">
              Authors: {{ item.book_content }}
            </v-card-text>
          </v-row>
        </v-card>
      </v-row>

      <v-row>
        <v-progress-linear color="#3B85DD" model-value="100" rounded style="margin: 2%" />
      </v-row>

      <v-row>
        <v-col class="d-flex justify-center">
          <v-pagination
            v-model="currentPage"
            :length="totalPages"
            :total-visible="5"
            @update:modelValue="changePage"
            color="#3B85DD"
          />
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

</style>