<script setup lang="ts">
import { usefavlistStore } from '@/stores/favlist'
import { ref } from 'vue'

// ดึงข้อมูลจาก localStorage และ favlistStore
const favoStore = usefavlistStore()
const user = localStorage.getItem('user')
const json = JSON.parse(user!)
console.log(json)
async function getData() {
  const userId = json.user_id // ดึง user_id จาก localStorage
  await favoStore.getFavlistByUserId(userId)
  console.log(userId) // เรียกใช้ฟังก์ชัน
}
</script>

<template>
  <div>
    <v-btn @click="getData()">Test</v-btn>
    <v-container>
      <v-row>
        <v-col>
          <div v-for="(book, index) in favoStore.bookByUser" :key="book.book_id">
            <h3>{{ book.book_title }}</h3>
            <p>Score: {{ book.book_score }}</p>
            <img :src="book.book_img" alt="book image" />
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
