<script setup lang="ts">
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import router from '@/router'
import { useAuthStore } from '@/stores/auth'
import { useBooksStore } from '@/stores/books'
import { useCategoryStore } from '@/stores/category'
import { useUsersStore } from '@/stores/user'
import {
  mdiMagnify,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiBook,
  mdiChartBar,
  mdiLogout
} from '@mdi/js'
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import type BookCat from '@/types/BookCat'
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import type Book from '@/types/Books'
// eslint-disable-next-line @typescript-eslint/no-unused-vars
import type Category from '@/types/Category'

// eslint-disable-next-line @typescript-eslint/no-unused-vars
import { onMounted, ref, mergeProps, computed } from 'vue'

// eslint-disable-next-line @typescript-eslint/no-unused-vars
import { useRouter, type RouteLocationRaw } from 'vue-router'
const categoryStore = useCategoryStore()
const tab = ref(1)
const bookStore = useBooksStore()
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const isDropdownOpen = ref(false)
// eslint-disable-next-line @typescript-eslint/no-unused-vars
const usersStore = useUsersStore()
const authStore = useAuthStore()

const user = localStorage.getItem('user')
const json = JSON.parse(user!)

const selectedCategory = ref(null)

const emit = defineEmits(['categorySelected', 'searchBooks'])

const selectCategory = (category: any) => {
  selectedCategory.value = category
  // Emit category selection to parent
  emit('categorySelected', category)

  console.log('Category selected:', selectedCategory.value)
}

const drawer = ref(false)

const toggleDrawer = () => {
  drawer.value = !drawer.value
}

const searchQuery = ref('')
const searchBooks = () => {
  emit('searchBooks', searchQuery.value)
}

onMounted(async () => {
  await bookStore.getBooks()
  await categoryStore.getCategories()
  await bookStore.getBooksByCategory(tab.value)
})
// const booksByCategory = {
//   books: [
//     { category_id: 1, category_name: 'Top Books', title: 'Book 1' },
//     { category_id: 1, category_name: 'Top Books', title: 'Book 2' }
//   ],
//   categories: [
//     { category_id: 2, category_name: 'Categories', title: 'Book 3' },
//     { category_id: 2, category_name: 'Categories', title: 'Book 4' }
//   ]
// }

// const selectedBooks = ref<Category[]>([]) // This will hold the books to display
// const items = [
//   { title: 'Top Books', action: () => (selectedBooks.value = booksByCategory.books) },
//   { title: 'Categories', action: () => (selectedBooks.value = booksByCategory.categories) }
// ]
</script>

<template>
  <v-layout>
    <v-main>
      <v-toolbar app style="height: 70px; background-color: #0e347f">
        <v-app-bar-nav-icon
          @click.stop="toggleDrawer"
          style="color: #ffffff; margin-left: 1%; margin-top: 5px"
        ></v-app-bar-nav-icon>

        <v-btn
          style="
            width: 250px;
            height: 60px;
            background-color: #d22626;
            margin-left: 4%;
            margin-top: 5px;
            border-radius: 18px;
          "
          title="Home"
          value="home"
          to="/"
        >
          <h1 style="color: #000000; font-size: 30px; font-family: tahoma">Chapter</h1>
          <h1 style="color: #ffffff; font-size: 30px">Chic</h1>
        </v-btn>

        <v-app style="background-color: transparent; margin-left: 1%; margin-top: 1%">
          <v-app-bar style="background-color: transparent; height: 1px; width: 80px">
            <v-menu>
              <template v-slot:activator="{ props }">
                <v-btn color="white" v-bind="props">Menu</v-btn>
              </template>
              <v-list style="background-color: #323131; color: #ffffff">
                <v-list-item
                  v-for="category in categoryStore.categories"
                  :key="category.category_id"
                  @click="selectCategory(category)"
                >
                  <v-list-item-title>{{ category.category_name }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-app-bar>
        </v-app>

        <v-text-field
          v-model="searchQuery"
          density="compact"
          hide-details
          style="width: 280px; margin: 3%; background-color: #b0b0b0; border-radius: 18px"
          class="mr-3"
          placeholder="Search for books"
        ></v-text-field>
        <v-btn
          :prepend-icon="mdiMagnify"
          style="
            background-color: #d22626;
            color: aliceblue;
            margin-left: 1px;
            margin-right: 20%;
            border-radius: 18px;
          "
          @click="searchBooks"
        >
          ค้นหา
        </v-btn>

        <h2 style="margin-right: 5%; margin-top: 5px; color: #ffffff">{{ json.user_name }}</h2>
      </v-toolbar>
    </v-main>

    <v-navigation-drawer app v-model="drawer" color="#0e347f" width="320">
      <v-list dense nav>
        <v-list-item-group active-class="highlighted">
          <v-list-item
            :prepend-icon="mdiFolder"
            title="Profile"
            value="profile"
            to="/profile"
            class="nav-item"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiAccountMultiple"
            title="My Favorite List"
            value="favlist"
            to="/favList"
            class="nav-item"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiStar"
            title="Review History"
            value="reviewhis"
            to="/reviewHistory"
            class="nav-item"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiBook"
            title="Feed"
            value="feed"
            to="/feed"
            class="nav-item"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiChartBar"
            title="Feed History"
            value="feedhis"
            to="/feedHistory"
            class="nav-item"
          ></v-list-item>
          <v-divider></v-divider>
        </v-list-item-group>

        <v-spacer></v-spacer>

        <v-list-item
          :prepend-icon="mdiLogout"
          title="Logout"
          value="logout"
          class="logout-button"
          @click="authStore.logout"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
</template>

<style scoped>
.text-center {
  text-align: center;
}

.white-text-field {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 5px !important;
}

.spaced {
  margin-bottom: 20px;
}

.v-navigation-drawer {
  background-color: #0e347f !important;
  color: #ecf0f1;
}

.v-list-item:hover {
  background-color: #152f61 !important;
  color: #ecf0f1 !important;
}

.v-list-item {
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px 0;
}

.v-divider {
  margin: 10px 0;
  background-color: #95a5a6;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.application {
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}
</style>
