<script setup lang="ts">
import { useBooksStore } from '@/stores/books'
import { useCategoryStore } from '@/stores/category'
import { onMounted, ref } from 'vue'
import {
  mdiMagnify,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiBook,
  mdiChartBar,
  mdiLogout
} from '@mdi/js'

const isDropdownOpen = ref(false)

const drawer = ref(false)
const selectedCategory = ref(null)
const tab = ref(1)

const categoryStore = useCategoryStore()
const bookStore = useBooksStore()

const emit = defineEmits(['categorySelected', 'searchBooks'])
const selectCategory = (category: any) => {
  selectedCategory.value = category
  // Emit category selection to parent
  emit('categorySelected', category)
}

const searchQuery = ref('')
const searchBooks = () => {
  emit('searchBooks', searchQuery.value)
}

const toggleDrawer = () => {
  drawer.value = !drawer.value
}

onMounted(async () => {
  await bookStore.getBooks()
  await categoryStore.getCategories()
  await bookStore.getBooksByCategory(tab.value)
})
</script>

<template>
  <v-layout>
    <v-main>
      <v-toolbar app style="height: 70px; background-color: #0e347f">
        <v-btn
          style="
            width: 250px;
            height: 60px;
            background-color: #d22626;
            margin-left: 4%;
            margin-top: 5px;
            border-radius: 18px;
          "
          title="Home"
          value="home"
          to="/"
        >
          <h1 style="color: #000000; font-size: 30px; font-family: tahoma">Chapter</h1>
          <h1 style="color: #ffffff; font-size: 30px">Chic</h1>
        </v-btn>

        <v-app style="background-color: transparent; margin-left: 1%; margin-top: 1%">
          <v-app-bar style="background-color: transparent; height: 1px; width: 80px">
            <v-menu>
              <template v-slot:activator="{ props }">
                <v-btn color="white" v-bind="props">Menu</v-btn>
              </template>
              <v-list style="background-color: #323131; color: #ffffff">
                <v-list-item
                  v-for="category in categoryStore.categories"
                  :key="category.category_id"
                  @click="selectCategory(category)"
                >
                  <v-list-item-title>{{ category.category_name }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-app-bar>
        </v-app>
        <v-text-field
          v-model="searchQuery"
          density="compact"
          hide-details
          style="max-width: 25%; margin: 0%; background-color: #b0b0b0; border-radius: 18px"
          placeholder="Search for books"
        ></v-text-field>
        <v-btn
          :prepend-icon="mdiMagnify"
          style="background-color: #d22626; color: aliceblue; margin-left: 5px; border-radius: 18px"
          @click="searchBooks"
        >
          ค้นหา
        </v-btn>
        <v-btn style="margin-left: 20%; margin-top: 5px; color: #ffffff" to="/login">
          <h2 style="margin-left: auto; margin-top: 5px; color: #ffffff">Sign In</h2>
        </v-btn>
      </v-toolbar>
    </v-main>

    <v-navigation-drawer app v-model="drawer" color="#2c3e50" width="300">
      <v-list density="compact" nav>
        <v-list-item-group>
          <v-list-item
            :prepend-icon="mdiFolder"
            title="Profile"
            value="profile"
            to="/profile"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiAccountMultiple"
            title="My Favorite List"
            value="favlist"
            to="/favList"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiStar"
            title="Review History"
            value="reviewhis"
            to="/reviewHistory"
          ></v-list-item>
          <v-divider></v-divider>

          <v-list-item :prepend-icon="mdiBook" title="Feed" value="feed" to="/feed"></v-list-item>
          <v-divider></v-divider>

          <v-list-item
            :prepend-icon="mdiChartBar"
            title="Feed History"
            value="feedhis"
            to="/feedHistory"
          ></v-list-item>
          <v-divider></v-divider>
        </v-list-item-group>

        <v-spacer></v-spacer>

        <v-list-item
          :prepend-icon="mdiLogout"
          title="Logout"
          value="logout"
          class="logout-button"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.text-center {
  text-align: center;
}

.white-text-field {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 5px !important;
}

.spaced {
  margin-bottom: 20px;
}

.v-navigation-drawer {
  background-color: #0e347f !important;
  color: #ecf0f1;
}

.v-list-item:hover {
  background-color: #152f61 !important;
  color: #ecf0f1 !important;
}

.v-list-item {
  border-radius: 8px;
  padding: 10px 20px;
  margin: 10px 0;
}

.v-divider {
  margin: 10px 0;
  background-color: #95a5a6;
}
</style>
