<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router'; 
import feedService from '@/services/feedService';
import PageHaeder from './Header/PageHaeder.vue';

// Fetch user information from local storage
const user = localStorage.getItem("user");
const json = JSON.parse(user!); // Replace with actual logic for fetching user ID

const router = useRouter();
const feed_title = ref('');
const feed_text = ref('');
const feed_img = ref<File | null>(null);
const fileInput = ref<HTMLInputElement | null>(null); // Reference for file input
const httpImg = (import.meta.env.VITE_BACKEND_URL)

// Function to simulate click on hidden file input
const triggerFileInput = () => {
  if (fileInput.value) {
    fileInput.value.click();
  }
};

// Handle file change event
const onFileChange = (event: Event) => {
  const target = event.target as HTMLInputElement;
  if (target.files && target.files.length > 0) {
    feed_img.value = target.files[0];
  }
};

const submitFeed = async () => {
  const formData = new FormData();
  formData.append('user_name', json.user_name);
  formData.append('feed_title', feed_title.value);
  formData.append('feed_text', feed_text.value);
  formData.append('feed_like', '0');
  formData.append('feed_dislike', '0');
  formData.append('user_id', json.user_id); // Use actual user ID

  if (feed_img.value) {
    formData.append('feed_img', feed_img.value);
  }

  try {
    await feedService.createFeed(formData);

    // Clear form data
    feed_title.value = '';
    feed_text.value = '';
    feed_img.value = null;

    // Redirect to feed page
    router.push('/feed');
  } catch (error) {
    console.error('Error creating feed:', error);
  }
};
</script>

<template>
  <PageHaeder></PageHaeder>

  <v-card max-width="100%" style="height: 100vh;" color="#1E1E1E">
    <v-container>
      <!-- Page Title -->
      <v-row class="justify-center" style="margin-left: 15%">
        <v-col>
          <v-card-text>
            <h1 style="font-size: 40px; color: #ffffff; font-weight: 700">Add Feed</h1>
          </v-card-text>
        </v-col>
      </v-row>

      <v-divider style="width: 70%; margin-left: 15%" color="#FFFFFF" class="mb-5"></v-divider>

      <v-card style="border-radius: 10px; background-color: #B0B0B0;">
      <v-form style="margin-top: 5%;">
        <v-row class="justify-center mb-4">
          <v-col cols="3" md="2">
            <v-avatar size="120" color="white">
              <v-img :src="`${httpImg}/users/:id/image${json.image}`"></v-img>
            </v-avatar>
          </v-col>
          <v-col cols="9" md="6" style="margin-top: 3%">
            <v-text-field
              v-model="feed_title"
              label="Feed Title"
              outlined
              filled
              color="white"
              style="width: 100%;
              "
              
            />
          </v-col>
        </v-row>
        <!-- Image Upload Section with Button -->
        <v-row class="justify-end mb-4">
          <v-col cols="12" md="8" class="text-center">
            <!-- Hidden file input -->
            <input type="file" ref="fileInput" @change="onFileChange" style="display: none" />

            <!-- Button to trigger file input -->
            <v-btn
              color="#B0B0B0"
              @click="triggerFileInput"
              class="py-3 px-5"
              style="width: 30%; font-weight: 600; font-size: 18px; margin-left: 18%;"
            >
              Upload Image
            </v-btn>

            <!-- Image Preview -->
            <div v-if="feed_img" class="image-preview mt-3">
              <img
                :src="URL.createObjectURL(feed_img)"
                alt="Image Preview"
                style="max-width: 150px; border-radius: 10px"
              />
            </div>
          </v-col>
        </v-row>
        <!-- Feed Text -->
        <v-row class="justify-center mb-4">
          <v-col cols="12" md="8">
            <v-textarea
              v-model="feed_text"
              label="Feed Text"
              outlined
              filled
              color="white"
              style="width: 100%"
            />
          </v-col>
        </v-row>

        <!-- Post Button -->
        <v-row class="justify-center mb-4">
          <v-col cols="12" md="8" class="text-center">
            <v-btn
              @click="submitFeed"
              color="red"
              class="py-3 px-5"
              style="width: 50%; font-weight: 600; font-size: 18px;height: 50px;"
            >
              POST
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
    </v-container>
  </v-card>
</template>



<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

/* Custom styling to match the design */
.mx-auto {
  background-color: #121212;
}

.image-preview img {
  border-radius: 10px;
}

.v-card-text h1 {
  font-weight: bold;
}

.v-btn {
  font-weight: bold;
  font-size: 18px;
}
</style>
