<script setup lang="ts">
import router from '@/router';

function goToDelConfirm() {
  router.push('/bookDelConfirm');
}

</script>

<template>
  <v-container style="background-color: #000000;">
    <v-row align="center">
      <v-col cols="10" sm="8">
        <div>
          <h1 style="color: #1F4BA1; text-align: center;">Book Management</h1>
        </div>
        <v-text-field label="Search" hide-details="auto" class="mb-2 w-100" style="color: #FFFFFF;"></v-text-field>
      </v-col>
      <v-col cols="2" sm="1">
        
      </v-col>
    </v-row>

    <v-row>
      <v-col col="12">
        <v-card class="responsive-card my-4" cols="12" md="8" lg="6" style="background-color: #1E1E1E; overflow-y: auto;">
          <v-card-text>
              <v-card class="mb-3">
                <v-card-title class="card-title" style="display: flex; justify-content: space-between; align-items: center;">
                  <div>No.</div>
                  <div>BookID</div>
                  <div>BookName</div>
                  <div>Authors</div>
                  <div>Option</div>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text class="card-text" style="margin-left: 1%; margin-right: 3%;">
                  <div>1</div>
                  <div>1</div>
                  <div>Whispers of the Wicked Saints</div>
                  <div>Veronica Haddon</div>
                  <div>
                    <v-card-actions>
                      
          <v-btn @click="goToDelConfirm()" color="#1f4ba1" size="small" variant="flat">Edit</v-btn>
          <v-btn @click="goToDelConfirm()" color="#FF4E4E" size="small" variant="flat">Delete</v-btn>
                        
                      

                      
                    </v-card-actions>
                  </div>
                </v-card-text>
              </v-card>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

</v-container>
</template>

<style scoped>
/* Import the Kanit font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Apply Kanit font to all text */
* {
  font-family: 'Kanit', sans-serif;
}

/* Additional styling specific to your page can go here */
.application {
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}

.card-title {
  margin-left: 1%;
  margin-right: 3%;
  word-wrap: break-word;
  white-space: normal;
}

.card-title, .card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title > div, .card-text > div {
  flex: 1; /* ให้ทุก div มีความกว้างเท่ากัน */
  text-align: center; /* จัดให้เนื้อหาอยู่กลาง */
}

.card-text > div:last-child {
  flex: 1;
  display: flex;
  justify-content: center; /* จัดให้เนื้อหาอยู่กลางสำหรับ div ที่มีปุ่ม */
}

</style>