<script setup lang="ts">
import { ref } from 'vue'
import { useUsersStore } from '@/stores/user';
import PageHaeder from './Header/PageHaeder.vue';
const usersStore = useUsersStore();
const username = ref('')
const email = ref('')
const password = ref('')

const cancel = () => {
  // Add cancel logic here
  console.log('Cancelled')
}

const save = () => {

  console.log('Saved')
}
const avatarUrl = ref('profile1.png'); // Initial avatar URL
const fileInput = ref<HTMLInputElement | null>(null);

const handleFileChange = (event: Event) => {
  const target = event.target as HTMLInputElement;
  if (target.files && target.files.length > 0) {
    const file = target.files[0];
    // Create a URL for the selected file and update avatar URL
    avatarUrl.value = URL.createObjectURL(file);
  }
};

const triggerFileInput = () => {
  if (fileInput.value) {
    fileInput.value.click();
  }
};
</script>

<template>
  <PageHaeder></PageHaeder>
  <v-layout>
    <v-container style="background-color: #000000; height: 100vh" fluid>
      <v-row align="center" justify="center">
        <v-col cols="10" sm="8">
          <div class="spaced">
            <h1 style="color: #1f4ba1; text-align: center">Edit Profile</h1>
          </div>
          <v-card-text class="spaced">
            <v-row align="center" justify="center">
                <v-avatar :size="120" :image="avatarUrl" color="white" @click="triggerFileInput"></v-avatar>
                <input 
                  type="file" 
                  ref="fileInput" 
                  style="display: none" 
                  @change="handleFileChange"
                />
              </v-row>
            <v-row align="center" justify="center" class="spaced">
              <h4 style="color: #1f4ba1; text-align: center " >User : {{ usersStore.users.user_id }}</h4>
            </v-row>
            <v-col cols="12">
              <v-row>
                <v-col cols="12" sm="5" class="text-right"
                  ><h2 style="color: #1f4ba1">User Name :</h2></v-col
                >
                <v-col cols="12" sm="6" class="offset-sm-1"
                  ><v-text-field
                    v-model="username"
                    label="User Name"
                    hide-details
                    style="
                      max-width: 400px;
                      height: max-content;
                      background-color: #b0b0b0;
                      border-radius: 5px;
                    "
                  > {{ usersStore.users.user_name }}</v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="5" class="text-right"
                  ><h2 style="color: #1f4ba1">Email :</h2>
                  </v-col>
                <v-col cols="12" sm="6" class="offset-sm-1"
                  ><v-text-field
                    v-model="email"
                    label="Email"
                    hide-details
                    style="
                      max-width: 400px;
                      height: max-content;
                      background-color: #b0b0b0;
                      border-radius: 5px;
                    "
                  >{{ usersStore.users.user_email }}</v-text-field
                ></v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="5" class="text-right"
                  ><h2 style="color: #1f4ba1">Password :</h2></v-col
                >
                <v-col cols="12" sm="6" class="offset-sm-1"
                  ><v-text-field
                    v-model="password"
                    label="Password"
                    type="password"
                    hide-details
                    style="
                      max-width: 400px;
                      height: max-content;
                      background-color: #b0b0b0;
                      border-radius: 5px;
                    "
                  >{{ usersStore.users.user_password }}</v-text-field
                ></v-col>
              </v-row>
            </v-col>
            <v-card-text class="d-flex align-center justify-center" style="height: 50px">
              <v-btn
                style="
                  font-size: 120%;
                  color: #000000;
                  font-weight: bold;
                  background-color: #ff5247;
                "
                height="30px"
                width="120px"
                class="ma-2"
                @click="cancel"
                to="/profile"
              >
                Cancel
              </v-btn>
              <v-btn
                style="
                  font-size: 120%;
                  color: #000000;
                  font-weight: bold;
                  background-color: #62aaff;
                "
                height="30px"
                width="120px"
                class="ma-2"
                @click="save"
              >
                Save
              </v-btn>
            </v-card-text>
          </v-card-text>
        </v-col>
      </v-row>
    </v-container></v-layout
  >
</template>
 
<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.text-center {
  text-align: center;
}
.white-text-field {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 5px !important;
}
.spaced {
  margin-bottom: 20px; /* Adjust the value to control the spacing */
}
</style>
  