<script setup lang="ts">
import { onMounted } from 'vue'
import { useFeedStore } from '@/stores/feedStore' // นำเข้า feedStore
import router from '@/router'
import PageHaeder from './Header/PageHaeder.vue'
import { mdiBook, mdiThumbUp,mdiThumbDown,mdiChat,mdiChatPlus } from '@mdi/js'
const feedStore = useFeedStore() // สร้าง instance ของ feedStore
const user = JSON.parse(localStorage.getItem("user") || '{}');
const goToAddFeed = () => {
  router.push('/addfeed')
}

// Load feeds when the component is mounted
onMounted(async () => {
  await feedStore.loadFeeds() // เรียกใช้ฟังก์ชันโหลด feeds
  await feedStore.getFeedByUserId(user.id);
})

const handleImageError = (event: Event) => {
  const target = event.target as HTMLImageElement;
  target.src = 'path/to/placeholder/image.png'; // Path to a placeholder image
}
</script>

<template>
  <div>
    <PageHaeder />
    <v-layout>
      <v-card style="width: 1980px; height: max-content" color="#121212">
        <v-main>
          <v-container fluid style="background-color: #121212; height: 100%; width: 100%">
            <v-row class="text-center justify-center">


            </v-row>
            <v-row class="text-center justify-center">
              <v-col>
                <v-card-text class="mx-auto my-3" style="display: inline-flex; align-items: center;">
                  <v-icon left size="30px">{{ mdiBook }}</v-icon>
                  <h1 style="font-size: 40px; display: inline; ">Feed</h1>
                </v-card-text>
              </v-col>

              <v-col class="">
                <v-btn class="my-8" color="#D22626" style="width: 200px; height: 60px; font-size: 20px"
                  @click="goToAddFeed" :prepend-icon="mdiChatPlus">
                  Add Feed
                </v-btn>
              </v-col>
            </v-row>

            <!-- Loop through feeds and display them -->
            <v-row v-for="feed in feedStore.feeds" :key="feed.feed_id" class="text-center justify-center">
              <v-card class="mx-auto" width="925" height="400" style="background-color: #363535; margin-top: 3%">
                <v-row>
                  <v-col style="margin-right: 60%; margin-top: 1%;">
                    <v-avatar :size="45" image="profile1.png" color="white"
                      style="margin-left: 1%; margin-top: 2%"></v-avatar>
                    <v-title style="font-size: 25px; margin-top: 5%; margin-left: 5%; color: #ffffff">username</v-title>
                  </v-col>
                </v-row>
                <v-row>
                  <v-card class="mx-auto my-1" width="855" height="265" style="background-color: #6c6a6a">
                    <v-row class="align-center" style="margin-top: 1%;">
                      <v-col style="margin-left: 10%;">
                        <h2 style="color: #ffffff;font-family: Tahoma, sans-serif;">หัวเรื่อง :</h2>
                      </v-col>
                      <v-col class="text-float-left mx-8" style="padding-inline-start: 5px;">
                        <v-title style="font-size: 25px; color: #ffffff">{{ feed.feed_title }}</v-title>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col> <img :src="feed.feed_img" width="133" height="192" /></v-col>
                      <v-col style="margin-top: 1%;margin-right: 3%;">

                        <v-card-text v-model="feed.feed_text" style="
                
                            background-color: #b0b0b0;
                            width: 618px;
                            height: 155px;
                            margin-right: 5%;
                            margin-bottom: 6%;
                            padding-inline-start: 5%;
                            color: #000000;
                            overflow-y: auto;
                            font-size: 22px;
                            font-family: tahoma;
                            border-radius: 10px;
                            text-align: left;
                          ">{{ feed.feed_text }}</v-card-text>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-row>
                <v-row style="margin-top: 1%">
                  <v-col class="d-flex justify-start" style="margin-left: 5%;">
                    <v-btn style="
                        width: 100px;
                        height: 35px;
                        background-color: #4caf50;
                        color: white;
                        margin-right: 10px;
                      "
                      :prepend-icon="mdiThumbUp">
                      Like
                    </v-btn>
                    <v-btn style="
                        width: 100px;
                        height: 35px;
                        background-color: #f44336;
                        color: white;
                        margin-right: 10px;
                      "
                      :prepend-icon="mdiThumbDown">
                      Dislike
                    </v-btn>
                    <v-btn style="
                        width: 120px;
                        height: 35px;
                        background-color: #2196f3;
                        color: white;
                      "
                      :prepend-icon="mdiChat">
                      Comment
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card>
            </v-row>
          </v-container>
        </v-main>
      </v-card>
    </v-layout>
  </div>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.v-card {
  border-radius: 10px;
}

.v-btn {
  border-radius: 5px;
}

.v-avatar {
  border: 2px solid #ffffff;
}

.v-title {
  font-weight: bold;
}

.v-card-text h1 {
  font-family: 'Arial', sans-serif;
}

.v-card-text {
  color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.application {
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}
</style>