<script setup lang="ts">
import router from '@/router'

function goToFeedHistory() {
  router.push('/feedHistory')
}
</script>
<template>
  <div class="dialog-container application">
    <v-card class="dialog-box">
      <h2 style="color: black">Edit</h2>
      <v-row>
        <v-col>
          <p style="color: black; margin-right: 90%">หัวข้อ</p>
          <v-text-field
          append-inner-icon="mdi-magnify"
          density="compact"
          hide-details
          style="max-width: 50%; margin-top: 1%; margin-left:3% ; background-color: #b0b0b0; border-radius: 18px"
          class="mr-3"
        ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col >
          <p style="color: black; margin-right:60%">รายละเอียด</p>
          <v-card style="width: 180px; height: 260px; margin-top: 10px; margin-left: 5%">
                    <img src="../image/book2.png" width="180" height="260" />
                  </v-card>
        </v-col>
        <v-col cols="8">
          <v-text-field
          style="max-width: 150%;height: 200px; background-color: #b0b0b0; border-radius: 18px; margin-top: 30px;"
        ></v-text-field>
        </v-col>
      </v-row>
      <v-row class="mt-4">
        <v-col >
          <v-btn
            @click="goToFeedHistory()"
            class="cancel-btn"
            style="background-color: #d22626; height: 40px; margin-left: 145%; "  
            >Cancel</v-btn
          >
        </v-col>
        <v-col>
          <v-btn @click="goToFeedHistory()" class="confirm-btn" style="height: 40px; margin-left: 70%;"
            >Confirm</v-btn
          ></v-col
        >
      </v-row>
    </v-card>
  </div>
</template>
/* .dialog-container { display: flex; justify-content: center; align-items: center; height: 100vh;
background-color: rgba(0, 0, 0, 0.5); } */
<style scoped>
.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-box {
  background-color: #bdbdbd;
  padding: 50px;
  width: 900px;
  height: 570px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #d22626;
  color: white;
}

.confirm-btn {
  background-color: #2f7bee;
  color: white;
}

.application {
  font-family: 'Kanit', sans-serif;
}
</style>
