<script setup lang="ts">
import router from '@/router'
import MainHeader from '@/components/Header/MainHeader.vue'
import { useFeedStore } from '@/stores/feedStore'; // นำเข้า feedStore
import { computed, onMounted } from 'vue'
import { useUsersStore } from '@/stores/user'
import PageHaeder from './Header/PageHaeder.vue';

const userStore = useUsersStore()
const feedStore = useFeedStore()
const user = localStorage.getItem("user");
const json = JSON.parse(user!);
console.log('Current User ID:', json.user_id); // แสดง user_id ที่ใช้งาน

// Function to navigate to the feed delete confirmation page
function goToFeedDelete() {
  router.push('/feedDeleteConfirm')
}

// Computed property to filter feeds by the logged-in user
const userFeeds = computed(() => {
  const feeds = feedStore.feeds as {
    feed_id?: number;
    feed_img?: string;
    feed_title?: string;
    feed_text?: string;
    feed_date?: Date;
    feedComment?: { feed_com_id?: number; feed_com_text?: string; user?: { user_id?: number } }[];
    user?: { user_id?: number };
  }[] | undefined;
  if (!Array.isArray(feeds)) {
    console.error('Feeds is not an array:', feeds);
    return []; // ส่งคืนอาร์เรย์ว่างในกรณีที่ไม่เป็นอาร์เรย์
  }
  
  const filteredFeeds = feeds.filter((feed) => feed.user && feed.user.user_id === json.user_id);
  console.log('Filtered User Feeds:', filteredFeeds); // แสดงค่าที่กรองแล้ว
  return filteredFeeds;
});

// Function to navigate to the feed edit page
function goToFeedEdit(feedId: number) {
  if (feedId !== undefined) {
    router.push({ path: '/feedEdit', query: { id: feedId } })
  } else {
    console.error('Invalid feed ID:', feedId)
  }
}

// Fetch feeds when the component is mounted
onMounted(async () => {
  const userId = json.user_id;
  if (userId) {
    await feedStore.getFeedByUserId(userId);
  }
  await feedStore.getFeeds(); // ดึงฟีดทั้งหมด
  console.log('All Feeds:', feedStore.feeds); // แสดงข้อมูลฟีดทั้งหมด
  console.log('User Feeds:', userFeeds.value); // แสดงค่าของ userFeeds ที่นี่
});

</script>

<template>
  <PageHaeder />
  <v-layout>
    <v-card style="width: 1980px; height: 100vh" color="#121212">
      <v-main>
        <v-container fluid>
          <v-row class="spacedHead">
            <v-card style="width: 1980px; height: 70px" color="#000000">
              <v-card-title class="text-center justify-center ">
                <h1 style="color: #3b85dd; ">Feed History</h1>
              </v-card-title>
            </v-card>
          </v-row>

          <v-row>
            <v-card-text>
              <v-row justify="start">
                <v-col cols="4" style="display: flex; align-items: center">
                  <v-text-field
                    append-inner-icon="mdi-magnify"
                    density="compact"
                    hide-details
                    label="Search..."
                    style="max-width: 75%; margin: 3%; background-color: #ffffff; border-radius: 18px; color: gray;"
                    class="mr-3"
                    label-class="grey--text text--darken-1"
                  />
                  <v-btn style="background-color: #d22626; color: aliceblue; border-radius: 18px">ค้นหา</v-btn>
                </v-col>
              </v-row>

              <v-row align="center" justify="space-between">
                <v-col cols="1" class="ml-16"><h2>No.</h2></v-col>
                <v-col cols="3"><h2>Feedname</h2></v-col>
                <v-col cols="2" class="text-center"><h2>Date</h2></v-col>
                <v-col cols="4">
                  <div class="d-flex justify-center align-center">
                    <h2>Option</h2>
                  </div>
                </v-col>
              </v-row>
              <v-divider></v-divider>

              <v-row
                v-for="(feed, index) in userFeeds"
                :key="feed.feed_id"
                align="center"
                justify="space-between"
              >
                <v-col cols="1" class="ml-15"><h2>{{ index + 1 }}</h2></v-col>
                <v-col cols="3"><h2>{{ feed.feed_title }}</h2></v-col>
                <v-col cols="2" class="text-center">
                  <h2>
                    {{ isNaN(Date.parse(String(feed.feed_date))) ? 'Invalid Date' : new Date(String(feed.feed_date)).toLocaleDateString() }}
                  </h2>
                </v-col>
                <v-col cols="4">
                  <div class="d-flex justify-center align-center">
                    <v-btn
                      @click="goToFeedEdit(feed.feed_id!)"
                      flat
                      style="background-color: #1f4ba1; color: white; margin-right: 8px; border-radius: 18px;"
                    >
                      Edit
                    </v-btn>
                    <v-btn
                      @click="goToFeedDelete"
                      flat
                      style="background-color: red; color: white; border-radius: 18px;"
                    >
                      Delete
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-row>
        </v-container>
      </v-main>
    </v-card>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.application {
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}
</style>
