  <script setup lang="ts">
  import router from '@/router';
  import { useBooksStore } from '@/stores/books';
  import { onMounted } from 'vue';

  const bookStore = useBooksStore();

  onMounted(async () => {
    await bookStore.getBooks();
  })

  const goToReviewPage = (item : any) => {
    bookStore.ListBook = item;
    router.push({ name: 'review', params: { id: item.book_id } })
  }
  </script>

  <template>
    <v-card
      v-for="item in bookStore.books"
      :key="item.book_id"
      style="width: 210px; height: 420px; margin-top: 2%; margin-left: 5%"
      color="#363535"
    >
      <v-row class="justify-center" style="margin: 5%">
        <v-btn flat style="width: 180px; height: 260px" @click="goToReviewPage(item)">
          <v-img
            :src="`http://localhost:3000/books/${item.book_id}/image`"
            style="height: 260px; width: 180px;"
          ></v-img>
        </v-btn>
      </v-row>
      
      <v-row>
        <v-card-text style="margin-left: 5%; padding-top: 2px; font-size: 18px; font-weight: bold">
          {{ item.book_score }}
        </v-card-text>
        <v-btn
          style="
            width: 75px;
            height: 35px;
            font-weight: bold;
            margin-right: 12%;
            background-color: #2f7bee;
            color: #ffffff;
            border-radius: 10px;
          "
          @click="goToReviewPage(item)"
        >
          Review
        </v-btn>
      </v-row>

      <v-row>
        <v-card-text style="text-align: left; padding-top: 1%; font-size: 18px; font-weight: bold">
          {{ item.book_title }}
        </v-card-text>
      </v-row>
      
      <v-row>
        <v-card-text style="text-align: left; padding-top: 0.1%; font-size: 15px">
          Authors: {{ item.book_content }}
        </v-card-text>
      </v-row>
    </v-card>
  </template>

  <style>
  </style>
