<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { useMessageStore } from '@/stores/messagestore';
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { mdiEmail, mdiLock, mdiEyeOff, mdiEye } from '@mdi/js'

const messageStore = useMessageStore();
const authStore = useAuthStore();
const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
const showPassword = ref(false);

const emailRules = [
  (v: string) => !!v || 'กรุณากรอก Email',
  (v: string) => /^[\w-\.]+@(gmail|hotmail|email)\.com$/.test(v) || 'Email ต้องเป็น @gmail.com, @hotmail.com หรือ @email.com'
];

const passwordRules = [
  (v: string) => !!v || 'กรุณากรอก Password',
  (v: string) => (v && v.length >= 8 && v.length <= 20) || 'Password ต้องมี 8-20 ตัวอักษร ประกอบด้วย ตัวพิมพ์ใหญ่ ตัวพิมพ์เล็ก ตัวเลข และอักขระพิเศษ',
  (v: string) => /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}$/.test(v) || 'Password must include lower, upper, number, and special character'
];

const login = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    console.log("Login Success");
    await authStore.login(loginName.value, password.value);
  } else {
    messageStore.showError("Please enter valid Username and Password");
  }
};
</script>

<template>
  <v-container class="login-container" fluid>
    <v-row justify="center" align="center">
      <v-col cols="12" md="6" lg="4">
        <div class="logo-section">
          <img src="@/assets/logo.png" alt="Chapter Chic Logo" class="logo-image" />
        </div>
        
        <div class="login-form">
          <h2 class="text-center">Sign in</h2>
          
          <v-form ref="form" v-model="valid">
            <v-text-field
              variant="outlined"
              v-model="loginName"
              label="Email"
              type="email"
              required
              :rules="emailRules"
              :prepend-icon="mdiEmail"
              outlined
            />
            <v-text-field
              v-model="password"
              variant="outlined"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              required
              :rules="passwordRules"
              :prepend-icon="mdiLock"
              :append-icon="showPassword ? mdiEyeOff : mdiEye"
              @click:append="showPassword = !showPassword"
              outlined
            />
            
            <v-btn color="primary" @click="login" block>Sign in</v-btn>
            <router-link to="/register" class="d-block text-center mt-2" style="color: white;">Create a New Account</router-link>
          </v-form>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: #fff;
}

.logo-section {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 150px;
  height: 150px;
}

.login-form {
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
}

.login-form h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.v-text-field input {
  background-color: #ccc;
  border-radius: 4px;
}

.v-btn {
  margin-top: 20px;
}

.router-link {
  display: block;
  color: #a8adb3;
  text-decoration: none;
}

.router-link:hover {
  text-decoration: underline;
}
</style>
