<script setup lang="ts">
import router from '@/router';
import { useAuthStore } from '@/stores/auth';
import { ref, watch } from 'vue';
import { mdiEmail,mdiAccount, mdiLock, mdiEyeOff, mdiEye } from '@mdi/js'

const user_name = ref("");
const user_password = ref("");
const user_email = ref("");
const authStore = useAuthStore();
const usernameError = ref("");
const passwordError = ref("");
const emailError = ref("");
const errorMessage = ref("");
const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,12}$/;


const showPassword = ref(false);

let isValid = true;

const validateForm = () => {
  isValid = true;

  if (!user_email.value) {
    emailError.value = "โปรดใส่อีเมล์";
    isValid = false;
  } else if (
    !/^[a-zA-Z0-9._%+-]+@(gmail\.com|hotmail\.com)$/.test(user_email.value)
  ) {
    emailError.value = "Gmail เท่านั้น";
    isValid = false;
  } else {
    emailError.value = "";
  }

  if (!user_name.value) {
    usernameError.value = "โปรดใส่ชื่อผู้ใช้";
    isValid = false;
  } else if (user_name.value.length < 5 || user_name.value.length > 20) {
    usernameError.value = "ชื่อผู้ใช้ต้องไม่ต่ำกว่า 8 - 20 ตัวอักษร";
    isValid = false;
  } else {
    usernameError.value = "";
  }

  if (!user_password.value) {
    passwordError.value = "โปรดใส่รหัสผ่าน";
    isValid = false;
  } else if (user_password.value.length < 8) {
    passwordError.value = "รหัสผ่านต้องไม่ต่ำกว่า 8 ตักอักษร";
    isValid = false;
  } else if (!passwordRegex.test(user_password.value)) {
    passwordError.value =
      "รหัสผ่านจะต้องมีตัวเลขตัวพิมพ์ใหญ่ตัวพิมพ์เล็กและอักขระพิเศษ";
    isValid = false;
  } else {
    passwordError.value = "";
  }

  watch(user_name, (newValue) => {
    if (newValue.length > 20) {
      user_name.value = newValue.slice(0, 20);
    }
  });
};

const register = async (event: Event) => {
  try {
    event.preventDefault();
    validateForm();

    if (isValid) {
      const res = await authStore.register(
        user_password.value,
        user_name.value,
        user_email.value,
      );

      if (res === null) {
        errorMessage.value = "อีเมล์ที่ลงทะเบียนไว้แล้ว";
      }
      if (res != null && res === true) {
        alert('การลงทะเบียนสำเร็จ! ตอนนี้คุณสามารถเข้าสู่ระบบด้วยข้อมูลประจำตัวของคุณ');
        router.push('/');
      }
    }
  } catch (e) {
    errorMessage.value = "อีเมล์ที่ลงทะเบียนไว้แล้ว";
  }
};
</script>

<template>
  <v-container class="login-container" fluid>
    <v-row justify="center" align="center">
      <v-col cols="12" md="6" lg="4">
        <div class="logo-section">
          <img src="@/assets/logo.png" alt="Chapter Chic Logo" class="logo-image" />
        </div>

        <div class="login-form">
          <h2 class="text-center">Register</h2>

          <v-form>
            <v-text-field
              variant="outlined"
              v-model="user_email"
              label="Email"
              type="email"
              required
              :rules="[v => !!v || 'โปรดใส่อีเมล์']"
              :prepend-icon="mdiEmail"
              outlined
            />
            <v-text-field
              variant="outlined"
              v-model="user_name"
              label="Username"
              type="text"
              required
              :rules="[v => !!v || 'โปรดใส่ชื่อผู้ใช้']"
              :prepend-icon="mdiAccount"
              outlined
            />
            <v-text-field
              variant="outlined"
              v-model="user_password"
              :type="showPassword ? 'text' : 'password'"
              label="Password"
              required
              :rules="[v => !!v || 'โปรดใส่รหัสผ่าน']"
              :prepend-icon="mdiLock"
              :append-icon="showPassword ? mdiEyeOff : mdiEye"
              @click:append="showPassword = !showPassword"
              outlined
            />
            
            <v-alert v-if="usernameError || emailError || passwordError || errorMessage" type="error" class="mt-2">
              <div v-if="errorMessage">{{ errorMessage }}</div>
              <div v-if="usernameError">{{ usernameError }}</div>
              <div v-if="emailError">{{ emailError }}</div>
              <div v-if="passwordError">{{ passwordError }}</div>
            </v-alert>

            <v-btn color="primary" @click="register" block>CONTINUE</v-btn>
            <router-link to="/login" class="d-block text-center mt-2" style="color: white;">Already have an account? Login here</router-link>
          </v-form>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: #fff;
}

.logo-section {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 150px;
  height: 150px;
}

.login-form {
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 10px;
}

.login-form h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.v-text-field input {
  background-color: #ccc;
  border-radius: 4px;
}

.v-btn {
  margin-top: 20px;
}

.router-link {
  display: block;
  color: #a8adb3;
  text-decoration: none;
}

.router-link:hover {
  text-decoration: underline;
}
</style>
