<script setup lang="ts" >
import router from '@/router';

function goToReportDe() {
  router.push('/reportDe');
}

</script>

<template>
  <v-container style="background-color: #000000;">
    <v-row align="center">
      <v-col cols="10" sm="8">
        <div>
          <h1 style="color: #1F4BA1; text-align: center;">Report Management</h1>
        </div>
        <v-text-field label="Search" hide-details="auto" class="mb-2 w-100" style="color: #FFFFFF;"></v-text-field>
      </v-col>
      <v-col cols="2" sm="1">
        <div>
          <img src="../image/seach.png" alt=" Image" width="40" height="40" />
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col col="12">
        <v-card class="responsive-card my-4" cols="12" md="8" lg="6" style="background-color: #1E1E1E; overflow-y: auto;">
          <v-card-text>
              <v-card class="mb-3">
                <v-card-title class="card-title">
                  <div>Report ID : 1</div>
                </v-card-title>
                <v-divider></v-divider>
                <v-card-text style="margin-left: 1%; margin-right: 3%;">
                  <div><b>Report Content :</b> หนังสือเล่มนี้ดีไหมครับ</div>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="goToReportDe()" flat>
                    <img src="../image/eyes.png" alt="Edit Image" width="40" height="40" />
                  </v-btn>
                </v-card-actions>
              </v-card>

            <!-- <template v-else>
              <v-card class="mb-3">
                <v-card-text style="margin-left: 1%; margin-right: 3%; display: flex; justify-content: center;">
                  <h2 id="h2">ไม่พบข้อมูลที่ค้นหา</h2>
                </v-card-text>
              </v-card>
            </template> -->


          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

</v-container>
</template>

<style scoped>
/* Import the Kanit font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Apply Kanit font to all text */
* {
  font-family: 'Kanit', sans-serif;
}

/* Additional styling specific to your page can go here */
.application {
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}

.card-title {
  margin-left: 1%;
  margin-right: 3%;
  word-wrap: break-word;
  white-space: normal;
}

</style>