<script setup lang="ts">
import router from '@/router'

import { useReviewStore } from '@/stores/review'
import { computed, onMounted, ref } from 'vue'
import { useUsersStore } from '@/stores/user'
import PageHaeder from './Header/PageHaeder.vue'
import ReviewDeleteConfirm from '@/dialogs/ReviewDeleteConfirm.vue'

const userStore = useUsersStore()
const reviewStore = useReviewStore()
const newReviewText = ref('')
const selectedBookId = ref<number>(0) // Ensure to set this based on your context
const user = localStorage.getItem("user");
const json = JSON.parse(user!);
console.log('Current User ID:', json.user_id); // แสดง user_id ที่ใช้งาน


 // Function to navigate to the review delete confirmation page
function goToReviewDelete() {
  router.push('/reviewDeleteConfirm')
}

// Computed property to filter reviews by the logged-in user
const userReviews = computed(() => {
  const reviews = reviewStore.reviews as { rev_id?: number; rev_star?: number; rev_comment?: string; rev_date?: Date; book?: any; user?: { user_id?: number } }[] | undefined; // กำหนดชนิดข้อมูลให้ชัดเจน
  if (!Array.isArray(reviews)) {
    console.error('Reviews is not an array:', reviews);
    return []; // ส่งคืนอาร์เรย์ว่างในกรณีที่ไม่เป็นอาร์เรย์
  }
  
  const filteredReviews = reviews.filter((review) => review.user && review.user.user_id === json.user_id);
  console.log('Filtered User Reviews:', filteredReviews); // แสดงค่าที่กรองแล้ว
  return filteredReviews;
});



// Function to navigate to the review edit page
function goToReviewEdit(reviewId: number) {
  if (reviewId !== undefined) { // ตรวจสอบว่า reviewId มีค่าเป็น number
    router.push({ path: '/reviewEdit', query: { id: reviewId } })
  } else {
    console.error('Invalid review ID:', reviewId)
  }
}

// Function to save a new review
async function saveReview() {
  if (!userStore.user) {
    console.error('User not logged in')
    return // Ensure user is logged in before saving
  }

  if (!selectedBookId.value) {
    console.error('No book selected')
    return // Ensure a book is selected before saving
  }

  // Add logic here to save the review if needed
}

// Fetch reviews when the component is mounted
onMounted(async () => {
  const userId = json.user_id;
  if (userId) {
    await reviewStore.getReviewsByUserId(userId);
  }
  await reviewStore.getReviews(); // ดึงรีวิวทั้งหมด
  console.log('All Reviews:', reviewStore.reviews); // แสดงข้อมูลรีวิวทั้งหมด
  console.log(userReviews.value); // แสดงค่าของ userReviews ที่นี่
});
</script>

<template>
  <PageHaeder />
  <v-layout>
    <v-card style="width: 1980px; height: 100vh" color="#121212">
      <v-main>
        <v-container fluid>
          <v-row class="spacedHead">
            <v-card style="width: 1980px; height: 70px" color="#000000">
              <v-card-title class="text-center justify-center ">
                <h1 style="color: #3b85dd; ">Review History</h1>
              </v-card-title>
            </v-card>
          </v-row>

          <v-row>
            <v-card-text>
              <v-row justify="start">
                <v-col cols="4" style="display: flex; align-items: center">
                  <v-text-field
                    append-inner-icon="mdi-magnify"
                    density="compact"
                    hide-details
                    label="Search..."
                    style="max-width: 75%; margin: 3%; background-color: #ffffff; border-radius: 18px; color: gray;"
                    class="mr-3"
                    label-class="grey--text text--darken-1"
                  />
                  <v-btn style="background-color: #d22626; color: aliceblue; border-radius: 18px">ค้นหา</v-btn>
                </v-col>
              </v-row>
              <v-row align="center" justify="space-between">
                <v-col cols="1" class="ml-16"><h2>No.</h2></v-col>
                <v-col cols="3"><h2>Bookname</h2></v-col>
                <v-col cols="2" class="text-center"><h2>Date</h2></v-col>
                <v-col cols="4">
                  <div class="d-flex justify-center align-center">
                    <h2>Option</h2>
                  </div>
                </v-col>
              </v-row>
              <v-divider></v-divider>
              <v-row
                v-for="(review, index) in userReviews"
                :key="review.rev_id"
                align="center"
                justify="space-between"
              >
                <v-col cols="1" class="ml-15"><h2>{{ index + 1 }}</h2></v-col>
                <v-col cols="3"><h2>{{ review.book?.book_title }}</h2></v-col>
                <v-col cols="2" class="text-center">
                  <h2>
                    {{ isNaN(Date.parse(String(review.rev_date))) ? 'Invalid Date' : new Date(String(review.rev_date)).toLocaleDateString() }}
                  </h2>
                </v-col>
                <v-col cols="4">
                  <div class="d-flex justify-center align-center">
                    <v-btn
                      @click="goToReviewEdit(review.rev_id!)"
                      flat
                      style="background-color: #1f4ba1; color: white; margin-right: 8px; border-radius: 18px;"
                    >
                      Edit
                    </v-btn>
                    <v-btn
                      @click="reviewStore.deleteReview(review.rev_id!)"
                      flat
                      style="background-color: red; color: white; border-radius: 18px;"
                    >
                      Delete
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-card-text>
          </v-row>
        </v-container>
      </v-main>
    </v-card>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.application {
  font-family: 'Kanit', sans-serif;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}
</style>
