<script setup lang="ts">
import { ref, onMounted } from 'vue';
import { useReviewStore } from '@/stores/review';
import router from '@/router';
import { useRoute } from 'vue-router';

const reviewStore = useReviewStore();
const route = useRoute();
const editedReviewText = ref('');
const reviewId = ref<number | null>(null);

// Fetch the existing review to edit
onMounted(async () => {
  reviewId.value = Number(route.params.id); // Get the review ID from the route parameters
  if (reviewId.value) {
    await reviewStore.getReviews(); // Fetch the reviews from the store
    const review = reviewStore.reviews.find(r => r.rev_id === reviewId.value);
    if (review) {
      editedReviewText.value = review.rev_comment || '';
    }
  }
});

// Function to navigate to the review history page
function goToReviewHistory() {
  router.push('/reviewHistory');
}

// Function to save the edited review
async function saveReview() {
  if (reviewId.value) {
    await reviewStore.updateReview(reviewId.value, {
      rev_comment: editedReviewText.value,
    });
    goToReviewHistory(); // Redirect after saving
  }
}
</script>

<template>
  <div class="dialog-container application">
    <v-card class="dialog-box">
      <h2 style="color: black;">Edit Review</h2>
      <p style="color: black; margin-right:90%;">BN :</p>
      
      <!-- Bind the v-textarea to the editedReviewText -->
      <v-textarea v-model="editedReviewText" hide-details="auto" class="mb-2 w-100" style="color: black; margin-top: 10px;"></v-textarea>
      
      <v-row class="mt-4">
        <v-col>
          <v-btn @click="goToReviewHistory()" class="cancel-btn" style="background-color: #d22626; height: 40px;">Cancel</v-btn>
        </v-col>
        <v-col>
          <v-btn @click="saveReview()" class="confirm-btn" style="height: 40px;">Confirm</v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<style scoped>
.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog-box {
  background-color: #BDBDBD;
  padding: 40px;
  width: 600px;
  border-radius: 5px;
  text-align: center;
}

h2 {
  margin-top: 0;
  color: #333;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #D22626;
  color: white;
}

.confirm-btn {
  background-color: #2F7BEE;
  color: white;
}


.application {
  font-family: 'Kanit', sans-serif;
}
</style>