<script setup lang="ts">
import MainHeader from './Header/MainHeader.vue'
import MainHeaderSignIn from './Header/MainHeaderSignIn.vue'
import router from '@/router'
import { useRoute } from 'vue-router'
import { useBooksStore } from '@/stores/books'
import { useReviewStore } from '@/stores/review'
import { computed, onMounted, ref } from 'vue'
import { useBookAuthorStore } from '@/stores/bookaut'
import users from '@/services/users'
import { useUsersStore } from '@/stores/user'
import { usefavlistStore } from '@/stores/favlist'
import { useAuthStore } from '@/stores/auth'
import { mdiThumbUp, mdiThumbDown } from '@mdi/js'

const reviewStore = useReviewStore()
const bookstore = useBooksStore()
const bookAuthorStore = useBookAuthorStore()
const selectedStars = ref(0)
const usersStore = useUsersStore()
const user = localStorage.getItem('user')
const json = JSON.parse(user!)

const route = useRoute()
const newReviewText = ref('')
const searchQuery = ref('')
const filter = ref('0') // ค่าเริ่มต้นสำหรับการกรองรีวิว
const favStore = usefavlistStore()
let bookID = bookstore.book?.book_id
onMounted(async () => {
  try {
    // ดึงข้อมูลหนังสือ
    await bookstore.getBookById(Number(route.params.id))
    // ตรวจสอบว่า book_id ไม่ใช่ undefined ก่อนดึงรีวิว
    const bookId = bookstore.book?.book_id
    if (bookId !== undefined) {
      // ดึงรีวิวโดยใช้ book_id
      bookstore.keepBookId = bookId
      await reviewStore.getReviewsByBookId(bookId)
    } else {
      console.error('Book ID is undefined.')
    }
  } catch (error) {
    console.error('Error fetching data:', error)
  }
})

const addReview = async () => {
  if (selectedStars.value === 0 || !newReviewText.value.trim()) {
    alert('กรุณาให้คะแนนและความคิดเห็น.')
    return
  }

  const newReview = {
    rev_star: selectedStars.value,
    rev_comment: newReviewText.value,
    rev_date: new Date(), // Current date
    user_id: json.user_id, // Add user ID if required
    book_id: bookstore.book?.book_id
  }

  try {
    // เรียกใช้ฟังก์ชันเพื่อบันทึกรีวิวใน store
    await reviewStore.addReview(newReview) // ตรวจสอบให้แน่ใจว่าฟังก์ชันนี้มีอยู่ใน store ของคุณ
    alert('รีวิวถูกเพิ่มเรียบร้อยแล้ว!')

    // ล้างข้อมูลในฟอร์มรีวิว
    newReviewText.value = ''
    selectedStars.value = 0

    // อาจจะอัปเดตรีวิวรายการ
    const bookId = bookstore.book?.book_id
    if (bookId !== undefined) {
      await reviewStore.getReviewsByBookId(bookId)
    }
  } catch (error) {
    console.error('Error adding review:', error)
    alert('ไม่สามารถเพิ่มรีวิวได้.')
  }
}

const goToFavListViewPage = async () => {
  const userId = json.user_id

  if (typeof bookstore.keepBookId === 'number') {
    favStore.addNewMyfav(userId, bookstore.keepBookId)
  } else {
    console.error('Invalid book ID:', bookstore.keepBookId)
  }
}
const authStore = useAuthStore()
const selectedCategory = ref(null)
const handleCategorySelected = async (category: any) => {
  selectedCategory.value = category // กำหนดหมวดหมู่ที่เลือก
  if (category) {
    console.log('Category selected:', category) // ตรวจสอบว่า category ถูกเลือกถูกต้องหรือไม่
    try {
      await bookstore.getBooksByCategory(category.category_id) // เรียก API เพื่อดึงข้อมูลหนังสือ
      console.log('Books by category:', bookstore.bookByCate) // ตรวจสอบว่าข้อมูลหนังสือกลับมาถูกต้องหรือไม่
    } catch (error) {
      console.error('Error fetching books by category:', error) // แจ้ง error หากมีปัญหา
    }
  }
}

const filteredReviews = computed(() => {
  if (filter.value === '0') {
    return reviewStore.reviewsByBookId
  }
  return reviewStore.reviewsByBookId.filter((review) => review.rev_star === parseInt(filter.value))
})
</script>

<template>
  <MainHeader v-if="authStore.isLogin" @categorySelected="handleCategorySelected" />
  <MainHeaderSignIn v-else @categorySelected="handleCategorySelected" @logout="authStore.logout" />

  <v-layout>
    <v-card style="width: 1980px; height: max-content" color="#212121">
      <v-main>
        <v-container fluid>
          <v-row style="margin-top: 3px" class="text-center justify-center"></v-row>
          <v-card
            class="mx-auto my-2"
            elevation="20"
            max-width="1000px"
            height="max-content"
            color="#212121"
            style="margin-top: 5%"
          >
            <v-row>
              <v-card class="bg-grey-darken-4" style="width: 1030px; height: 100px">
                <v-card-title style="margin-top: 1%; margin-left: 1%">
                  {{ bookstore.book?.book_title }}
                </v-card-title>
                <v-card-subtitle style="margin-left: 1%">
                  {{ bookstore.book?.book_title }}
                </v-card-subtitle>
                <v-col cols="6">
                  <v-btn
                    color="#0e347f"
                    style="
                      width: 20;
                      height: 30px;
                      margin-left: 175%;
                      margin-top: -60px;
                      font-size: 11px;
                    "
                    @click="goToFavListViewPage"
                    >Add to My List</v-btn
                  >
                </v-col>
              </v-card>
            </v-row>
            <v-row>
              <v-col>
                <v-row>
                  <v-card style="width: 180px; height: 260px; margin-top: 10px; margin-left: 10%">
                    <img
                      :src="`http://localhost:3000/books/${bookstore.book?.book_id}/image`"
                      width="180"
                      height="260"
                    />
                  </v-card>
                </v-row>
              </v-col>
              <v-col cols="9">
                <v-card
                  class="ml-auto outlined-card"
                  max-width="800"
                  height="110px"
                  color="#212121"
                  style="margin-top: 10px"
                >
                  <v-row>
                    <v-col cols="3">
                      <v-card
                        style="
                          width: 80px;
                          height: 30px;
                          background-color: #1f4ba1;
                          margin-left: 10%;
                          margin-top: 15px;
                          border-radius: 2px;
                        "
                      >
                        <h1
                          style="
                            color: #ffffff;
                            margin-left: 20%;
                            font-size: 17px;
                            font-family: tahoma;
                          "
                        >
                          Score
                        </h1>
                      </v-card>
                      <h2
                        style="
                          color: #ffffff;
                          margin-left: 10%;
                          font-size: 18px;
                          font-family: tahoma;
                          justify-content: center;
                        "
                      >
                        {{ bookstore.book?.book_score }}
                      </h2>
                      <p class="centered-text" style="margin-left: 10%">196,143 users</p>
                    </v-col>
                    <v-divider color="#BDBDBD" class="border-opacity-100" vertical></v-divider>
                    <v-col cols="9" style="margin-top: 3%">
                      <p style="color: #ffffff; font-size: 15px; font-family: tahoma">Genres:</p>
                      <p
                        style="
                          color: #ffffff;
                          margin-top: 5px;
                          font-size: 15px;
                          font-family: tahoma;
                        "
                      >
                        Type:
                      </p>
                      <p
                        style="
                          color: #ffffff;
                          font-size: 15px;
                          font-family: tahoma;
                          margin-top: 5px;
                        "
                      >
                        Authors:
                      </p>
                    </v-col>
                  </v-row>
                </v-card>
                <row>
                  <h4 style="margin-top: 10px">Synopsis</h4>
                  <v-divider
                    class="border-opacity-100"
                    color="#BDBDBD"
                    style="margin-top: 5px"
                  ></v-divider>
                </row>
                <v-row>
                  <v-card-text style="text-align: left; font-size: 16px; margin-top: 5px">{{
                    bookstore.book?.book_content
                  }}</v-card-text>
                </v-row>
              </v-col>
            </v-row>
            <v-card-title style="font-size: 20px; font-weight: bold; color: #ffffff"
              >Book Pros & Cons</v-card-title
            >
            <v-row justify="center">
              <v-card
                color="#424242"
                style="
                  margin-top: 10px;
                  height: 240px;
                  width: 920px;
                  padding: 15px;
                  border-radius: 8px;
                "
              >
                <v-card-text class="pros-cons-card" style="color: #ffffff">
                  <v-row class="d-flex align-center justify-center" style="margin-bottom: 16px">
                    <v-col cols="12">
                      <v-row class="d-flex align-center" style="margin-bottom: 10px">
                        <v-icon color="green" small>{{ mdiThumbUp }}</v-icon>
                        <span class="pros-title" style="margin-left: 8px; font-weight: bold"
                          >Pros:</span
                        >
                      </v-row>
                      <v-chip
                        color="green-lighten-2"
                        text-color="white"
                        outlined
                        class="pros-chip"
                        style="margin-top: 5px"
                      >
                        {{ bookstore.book?.book_pros || 'No pros available.' }}
                      </v-chip>
                    </v-col>
                  </v-row>

                  <v-row class="d-flex align-center">
                    <v-col cols="12">
                      <v-row class="d-flex align-center" style="margin-bottom: 10px">
                        <v-icon color="red" small>{{ mdiThumbDown }}</v-icon>
                        <span class="cons-title" style="margin-left: 8px; font-weight: bold"
                          >Cons:</span
                        >
                      </v-row>
                      <v-chip
                        color="red-lighten-2"
                        text-color="white"
                        outlined
                        class="cons-chip"
                        style="margin-top: 5px"
                      >
                        {{ bookstore.book?.book_cons || 'Good, gogo' }}
                      </v-chip>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-card>
          <v-row>
            <v-col cols="3">
              <div class="store-reviews" style="margin-left: 70%">
                <div class="search-filter">
                  <input type="text" placeholder="Search..." v-model="searchQuery" />
                  <button @click="search" style="color: #ffffff">Search</button>
                  <div class="filter">
                    <label for="filter">FILTER BY</label>
                    <select v-model="filter" id="filter">
                      <option value="0" style="color: #111">All stars</option>
                      <option value="5">5 star only</option>
                      <option value="4">4 star only</option>
                      <option value="3">3 star only</option>
                      <option value="2">2 star only</option>
                      <option value="1">1 star only</option>
                    </select>
                  </div>
                </div>
              </div>
            </v-col>
            <v-col cols="6">
              <div class="review-section" style="margin-left: 20%">
                <h1>Review</h1>
                <div class="review-form">
                  <div class="star-rating">
                    <span
                      v-for="star in [1, 2, 3, 4, 5]"
                      :key="star"
                      @click="selectedStars = star"
                      style="cursor: pointer"
                    >
                      {{ star <= selectedStars ? '⭐' : '☆' }}
                    </span>
                  </div>
                  <textarea
                    placeholder="คุณต้องการรีวิวอะไร?"
                    v-model="newReviewText"
                    style="color: #ffffff"
                  ></textarea>
                  <button @click="addReview">OK</button>
                </div>
                
              <v-col cols="1">
                <v-card
                  v-for="item in filteredReviews"
                  :key="item.rev_id"
                  width="750px"
                  height="250px"
                  style="background-color: #363535; margin-left: 70%; margin-top: 30px"
                >
                  <v-row>
                    <v-col>
                      <v-avatar
                        :size="40"
                        image="profile1.png"
                        color="white"
                        style="margin-left: 5%; margin-top: 2%"
                      ></v-avatar>
                      <v-title
                        style="font-size: 20px; margin-top: -15%; margin-left: 3%; color: #ffffff"
                        >UserName</v-title
                      >
                      <v-row style="margin-left: 70px; margin-top: -5%">
                        <v-col cols="6">
                          <span v-for="star in item.rev_star" :key="star">⭐</span>
                          <!-- แสดงจำนวนดาวตามรีวิว -->
                        </v-col>
                      </v-row>
                    </v-col>
                    <div style="color: #ffffff; margin-top: 4%; margin-right: 3%">
                      {{ item.rev_date }}
                    </div>
                  
                  </v-row>
                  <v-row>
                    <v-card
                      class="mx-auto my-1"
                      width="700"
                      height="150"
                      style="background-color: #6c6a6a"
                    >
                      <v-card-title style="color: #ffffff">{{ item.rev_comment }}</v-card-title>
                    </v-card>
                    <v-divider
                      class="border-opacity-100"
                      color="#BDBDBD"
                      style="margin-top: 15px"
                    ></v-divider>
                  </v-row>
                </v-card>
              </v-col>
              </div>
            </v-col>
            <!-- <v-col cols="6">
              <v-card
                v-for="item in reviewStore.reviewsByBookId"
                :key="item.rev_id"
                width="750px"
                height="250px"
                style="background-color: #363535; margin-left: 70%; margin-top: 30px"
              >
                <v-row>
                  <v-col>
                    <v-avatar
                      :size="40"
                      image="profile1.png"
                      color="white"
                      style="margin-left: 5%; margin-top: 2%"
                    ></v-avatar>
                    <v-title
                      style="font-size: 20px; margin-top: -15%; margin-left: 3%; color: #ffffff"
                      >UserName</v-title
                    >
                    <v-row style="margin-left: 70px; margin-top: -5%">
                      <v-col cols="6">
                        <span v-for="star in item.rev_star" :key="star">⭐</span>
                        
                      </v-col>
                    </v-row>
                  </v-col>
                  <div style="color: #ffffff; margin-top: 4%; margin-right: 3%">
                    {{ item.rev_date }}
                  </div>
                  <v-col-12 class="my-6" style="margin-right: 3%">
                    <v-btn
                      style="
                        color: #ffffff;
                        background-color: #cf2323;
                        font-size: 11px;
                        width: 50px;
                        height: 30px;
                      "
                      >Report</v-btn
                    >
                  </v-col-12>
                </v-row>
                <v-row>
                  <v-card
                    class="mx-auto my-1"
                    width="700"
                    height="150"
                    style="background-color: #6c6a6a"
                  >
                    <v-card-title style="color: #ffffff">{{ item.rev_comment }}</v-card-title>
                  </v-card>
                  <v-divider
                    class="border-opacity-100"
                    color="#BDBDBD"
                    style="margin-top: 15px"
                  ></v-divider>
                </v-row>
              </v-card>
            </v-col> -->
          </v-row>
        </v-container>
      </v-main>
    </v-card>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.store-reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-filter {
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.search-filter input[type='text'] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-filter button {
  background-color: #ff4444;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-filter .filter {
  margin-top: 10px;
}

.search-filter .filter select {
  padding: 10px;
  border-radius: 5px;
}

.review-section {
  width: 100%;
}

.review-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.review-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.review-form button {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review {
  background-color: #2e2e2e;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-header button {
  background-color: #ff4444;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-body {
  margin-top: 10px;
}

.review-rating span {
  color: gold;
}

.review p {
  margin: 0;
  background-color: #ccc;
  padding: 10px;
  border-radius: 5px;
}
</style>
