<script setup lang="ts">
import { onMounted } from 'vue';
import { useUsersStore } from '@/stores/user';

import router from '@/router';
import { useAuthStore } from '@/stores/auth';
import PageHaeder from './Header/PageHaeder.vue';

const usersStore = useUsersStore();
onMounted(async () => {
    await usersStore.getUser();

})
const Edit = () => {
  router.push('/editPro');
};

const goToDelConfirm = () => {
  router.push('/accountDel');
};

const authStore = useAuthStore();
const user = localStorage.getItem("user");
const json = JSON.parse(user!)
const httpImg = (import.meta.env.VITE_BACKEND_URL)
</script>

<template>
  <PageHaeder/>
  <v-layout>
    <v-card style="width: 1980px; height: 100vh" color="#121212">
      <v-main>
        <v-container fluid>
          <v-row class="spacedHead">
            <v-card style="width: 1980px; height: 70px" color="#000000">
              <v-card-titel class="text-center justify-center py-6">
                <h1 style="color: #3b85dd; margin-top: 8px">Profile</h1>
              </v-card-titel>
            </v-card>
          </v-row>
          <v-row>
            <v-card-text>
              <v-row align="center" justify="center spaced">
                <v-avatar size="120"  color="white">
                  <v-img :src="`${httpImg}/users/:id/image${json.image}`"></v-img>
                </v-avatar>
              </v-row>
              <!-- <v-row align="center" justify="center spaced">
                <h4 style="color: #1f4ba1; text-align: center">User: </h4>
              </v-row> -->
              <v-col cols="12">
                <v-row class="spaced" align="center" justify="center">
                  <v-col cols="4" class="text-right">
                    <h2 style="color: #1f4ba1">User Name :</h2>
                  </v-col>
                  <v-col cols="4">
                    <h2 style="color: #1f4ba1">{{ json.user_name }}</h2>
                  </v-col>
                </v-row>
                <v-row class="spaced" align="center" justify="center">
                  <v-col cols="4" class="text-right">
                    <h2 style="color: #1f4ba1">Email :</h2>
                  </v-col>
                  <v-col cols="4">
                    <h2 style="color: #1f4ba1">{{ json.user_email }}</h2>
                  </v-col>
                </v-row>
              </v-col>
              <v-row class="d-flex align-center justify-center spaced" style="height: 50px">
                <v-btn
                  style="font-size: 120%; color: #000000; font-weight: bold; background-color: #b0b0b0"
                  height="30px"
                  width="120px"
                  class="ma-2"
                  @click="Edit"
                >
                  Edit
                </v-btn>
                <v-btn
                  style="font-size: 120%; color: #000000; font-weight: bold; background-color: #ff5247"
                  height="30px"
                  width="120px"
                  class="ma-2"
                  @click="goToDelConfirm"
                  flat
                >
                  Delete
                </v-btn>
              </v-row>
            </v-card-text>
          </v-row>
        </v-container>
      </v-main>
    </v-card>
  </v-layout>
</template>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  font-family: 'Kanit', sans-serif;
}

.text-center {
  text-align: center;
}
.white-text-field {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 5px !important;
}
.spaced {
  margin-bottom: 20px; 
}
.spacedHead {
  margin-bottom: 50px;
}
</style>
