<script setup lang="ts">
import router from '@/router';

function goToReportCon() {
  router.push('/reportCon');
}

function goToReportCan() {
  router.push('/reportCan');
}
</script>

<template>
  <v-container class="application">
    <v-row align="center" style="background-color: #000000;">
      <v-col cols="10" sm="8">
        <div>
          <h1 style="color: #1F4BA1; text-align: center;">Report Management</h1>
        </div>
      </v-col>
    </v-row>
    <v-row style="background-color: #1E1E1E;">
      <v-card class="full-screen" width="1200" height="400"
        style="margin-top: 5%; overflow-y: scroll; background-color: #D9D9D9;">
        <v-row class="hidden-xs-only text-left ms-2 text-subtitle-1 application mt-10" sm="5" md="3">
          <p class="mb-20 text-h4 font-weight-bold" style="margin: 1%">
            หนังสือเล่มนี้ดีไหมครับ</p>
        </v-row>
        <v-row align="center">
          <img src="../image/book1.png" alt=" Image" width="100" height="100" class="ml-8" />
        </v-row>
        <v-row>
          <p style="margin-left: 3%;margin-right: 3%;">พอดีอยากอ่านหนังสือเล่มนี้เหมือนกัน
            เเต่อยากรู้ว่าเนื้อหาเป็นเเนวไหน
            อ่านเเล้วรู้สึกอยากอ่านต่อมั้ยครับ อยากอ่านมากเลยครับ TT</p>
        </v-row>

      </v-card>
      <v-row>
        <v-col cols="8"></v-col>
        <v-col cols="2">
          <div class="btn-edit d-flex justify-end" ><v-btn block rounded="lg" size="x-large" style="background-color: #F77A7A;" @click="goToReportCan()" >
            Cancel</v-btn></div>
        </v-col>
        <v-col cols="2">
          <div class="btn-edit d-flex justify-end mr-4"><v-btn block rounded="lg" size="x-large" style="background-color: #7DD480;" @click="goToReportCon()">
            Confirm</v-btn></div>
        </v-col>
      </v-row>
    </v-row>
  </v-container>


</template>

<style scoped>
.btn-edit {
  padding: 0.5rem 0;
  align-self: flex-end;
}

.application {
  font-family: 'Kanit', sans-serif;
}
</style>