<script setup lang="ts"></script>
<template>
  <v-layout class="custom-layout">
    <v-main><RouterView></RouterView></v-main>
  </v-layout>
</template>

<style scoped>
.custom-layout {
  background-color: #1E1E1E; /* กำหนดสีพื้นหลัง */
  height: 100vh; /* กำหนดความสูงของหน้าเว็บ */
  width: 100vw; /* กำหนดความกว้างของหน้าเว็บ */
  margin: 0; /* กำหนดค่าต่างๆของ margin */
  padding: 0; /* กำหนดค่าต่างๆของ padding */
  overflow: auto; /* กำหนดค่าต่างๆของ overflow */
}
</style>